*{
    margin:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    background-color:aqua;
    display: grid;
    place-items: center;
     
}

.container{
    max-width: 500px;
    width:100%;
    background-color: white;
    padding: 20px;
    box-shadow:  5px 6px 3px 2px #a6a6ba;
    
}
h1{
    text-align: center;
}

.form-container{
    padding-top: 20px;
}

.form-field{
    padding: 10px 0;
    display: grid;
}

label{
    margin-bottom: 5px;
}

.form-field input{
    height: 35px;
    padding: 10px;
    border: solid 1px #aaa;
    border-radius: 7px;
}

.submission-section{
    display: grid;
    padding-top: 25px;
}

.submission-section button{
    height: 40px;
    background-color: blueviolet;
    color: beige;
    font-size: 20px;
    border-radius: 7px;


}